name: Build

on: [push]

jobs:
  build_windows:
    name: Build [Windows]
    runs-on: windows-latest

    steps:
      - name: Checkout Source
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          submodules: true

      - name: Build
        shell: pwsh
        run: .\build.libgit2.ps1 -vs 16

  build_linux:
    name: Build [Linux]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Source
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          submodules: true

      - name: Build
        env: 
          RID: linux-x64
        run: ./dockerbuild.sh


  

